.dub
docs.json
__dummy.html
*.o
*.obj
__test__*__

*.sublime-project

example/example

dub.selections.json
.vscode

*.a
mir-blas
mir-blas-test-test
mir-blas-test-openblas
mir-blas-test-blas
mir-blas-test-cblas
mir-blas-test-twolib
mir-blas-test-intel-sequental
*.dll
*.exe
*.lib
build/
mir-blas-test-library

subprojects/cblas
subprojects/mir-algorithm
subprojects/mir-core
